
.contenedorFormulario{
    background: #F8F8F8;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.30);
    width: 411px;
    height: 828px;
    flex-shrink: 0;
}
.TituloFormulario{
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10%;
}
.texto1Formualrio{
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 5%;
}
.FondoBlancoForm{
    height: 60%;
    width: 50%;
    background: #F8F8F8;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.30);
    border-radius: 20px;
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}
.btn{
    margin-top: 5%;
    margin-bottom: 5%;
	border-radius: 20px;
    width: 5.5rem;
    background: #689D6D;
    color: #f5f5f5;
    border: none;
}
.login-form{ 
	width:40vw;

}

.inputFormulario{
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    width: 80%;
    height: 8.5vh;
    border-radius: 30px;
    background: #F1F1F1;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.20);
    text-align: center;
}
.FondoVerde{
    padding-top: 7%;
    padding-bottom: 7%;
    height: 100%;
    width: 100%;
    background: #689D6D;
}

.CajaInformacion{
    background: #F8F8F8;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.tituloNegritas{
    font: 500;
    color: #000;
}
.textoJustificado{
    text-align: justify;
}
.tipoOperación{
    height: 62px;
    width: 80%;
    background: #D9D9D9;
}
.alert{
    color: red;
}
.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}