
.body{
    padding: 0 0%;
}
.containerTitulo{
    justify-content: center;
    width: 100%;
    margin: 0% 0;
}
.containerPadre2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}
.containerImg2{
    display: flex;
    justify-content: left;
    width: 100%;
}
.containerText{
    width: 100%;
}

@media screen and (max-width:767px){
    .containerPadre2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerImg2 img{
        display: flex;
        justify-content: left;
        width: 100%;
    }
}
.contenedorSection2{
    margin-top: 10%;
    margin-bottom: 20%;
}
.imagencitaSec2:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transition:all 2.0s;
}