.contenedorTextoSection1{
    background-color: rgba(142, 181, 142, 0.7);
    padding: 3%;
    
}
.contenedorTextoSection1:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
    transition:all 2.0s;
}
.TituloSection2{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}
.textoSection2{
    margin-top: 6%;
    color: rgba(0, 0, 0, 0.69);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: justify;
}
.about{
    margin-top: 10%;
}
.Titulo2Section2{
    color: #FFF;
    font-size: 3.7rem;
    font-weight: 700;
    text-align: right;
}
.texto2Section2{
    margin-top: 6%;
    color: rgba(0, 0, 0, 0.69);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: justify;

}
.imagencitaSec1:hover{
    transition:all 2.0s;
    filter: opacity(.4);
}

